<img id="burgerpic" src="burger.png" alt="burger">
<h1 id="burgerheader">Eat-Da-Burger</h1>
<form id="burgerform">
    <input id="burgertextbox" type="text" name="burger">
    <br>
    <input id="submitbutton" type="submit" value="Submit">
</form>
<p id="minitext">Enter a burger you want to eat then Click the "Submit" button.</p>