html {
    height: 100%;
}
body{
    min-height: 100%;
    background-color: peachpuff;
}

#burgerpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 15%;
}

#burgerheader{
    margin: 0 auto;
    display: block;
    text-align: center;
}

#burgerform{
    margin: 0 auto;
    display: block;
    text-align: center;
}

#minitext{
    text-align: center;
    margin: 0 auto;

}

